.div_center
{
    text-align: center;
    padding-top : 40px;
}

.h2_font
{
    font-size: 35px;
    padding-bottom: 40px;
}

.div_design
{
    padding-bottom: 15px;
}  

.input_form
{
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
td,th
{
    border: 3px solid white;
    padding : .5em;
    text-align: center;

}

.center
{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse
    
}
label
{
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}

.icon_center
{
    align-items: center;
    text-align: center;
}

.icon-center 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

p
{
    font-size: 15px;
}

.div_img
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 145px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.show_img img 
{
    width: 150px;
    height: 150px;
}

.img_center
{
    display: block;
    margin: auto;
}
th
{
    background-color: rgb(4, 0, 32);
    height: 50px;
    width: 50px;
}

td
{
    width: 150px;
}

.input_color
{
    color: black;
    padding-bottom: 20px;
}

.head_product
{
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse
}

.input_text
{
    color: black;
    width: 500px; 
    text-align: center; 

}

.div_text
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-left: 150px;
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 200px;
  }

.pagination_product {
display: flex;
align-items: center;
margin-top: 30px;
margin-left: 10px;
}
  
.add-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pagin {
    padding-top: 20px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: inline-block;
    margin-left: 15px;
  }

  .arrow-up {
    border-bottom: 10px solid rgb(3, 182, 253);
  }

  .arrow-down {
    border-top: 10px solid rgb(3, 182, 253);
    margin-left: 25px;

}

.gallery {
    display: flex; 
    justify-content: center;
    margin-top: -100px;
    margin-bottom: 100px;
    margin-right: 500px;
}

.gallery-photo{
    margin-left: 40px;

}

.text-center{
    text-align: center;
    font-family: Monospace;	
}


.image-grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }
 
 .image-grid img {
    width: 100%;
   height: auto;
 }

 .image-section{
    margin-top: 50px;
 }

 .image-item {
    position: relative;
 }

 .image-link {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(230, 55, 55);
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 20px;
 }


 .container {
    position: relative;
 }
 
 .prev-button {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    border: solid 2px #326dd2;
 }
 
 .next-button {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    background-color: #fff;
    border: solid 2px #326dd2; 
}
 
 .break-word {
    overflow-wrap: break-word;
}

.action-btn {
    margin-bottom: 10px;
}

.table-order
{
    margin: auto;
    width: 100%;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse  
}
.table-user
{
    margin: auto;
    width: 60%;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse  
}

.table-item
{
    margin:auto;
    width: 60%;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse  
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }



  .dropdown:hover .dropdown-content {
    display: block;
  }

  .iconify {
    display: inline-block;
  }

  .a1:hover
  {
    background-color: #303f9f;
    color:white;
  }
  .a2:hover
  {
    background-color: #056f00;
    color:white;
  }

  .a3:hover
  {
    background-color: #ffa000;
    color:white;
  }

  .a4:hover
  {
    background-color: #b0120a;
    color:white;
  }

.empty_log
{
    text-align: center;
    margin-top: 100px;
    font-size: 36px;
}

.tracking_no{
    margin-top: 10px;
    margin-bottom:15px;
    color: black;
    border-radius: 10px;
}

.search-box{
    padding-bottom:20px;
    text-align: center;
}

.search-boxs{
    padding-bottom:20px;
    text-align: center;
    padding-top: 30px;
}

