.div_center
{
    text-align: center;
    padding-top : 40px;
}

.h2_font
{
    font-size: 35px;
    padding-bottom: 40px;
}

.div_design
{
    padding-bottom: 15px;
}  

.input_form
{
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}
td,th
{
    border: 3px solid white;
    padding : .5em;
}

.center
{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse
    
}
label
{
    display: inline-block;
    width: 200px;
    margin-bottom: 20px;
}

.icon_center
{
    align-items: center;
    text-align: center;
}

.icon-center 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

p
{
    font-size: 15px;
}

.div_img
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 145px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.show_img img 
{
    width: 150px;
    height: 150px;
}

th
{
    background-color: rgb(4, 0, 32);
    height: 50px;
    width: 50px;
}

td
{
    width: 150px;
}

.input_color
{
    color: black;
    padding-bottom: 20px;
}

.head_product
{
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse
}

.input_text
{
    color: black;
    width: 500px; 
    text-align: center; 

}

.div_text
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-left: 150px;
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 200px;
  }

.pagination_product {
display: flex;
align-items: center;
margin-top: 30px;
margin-left: 10px;
}
  
.add-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pagin {
    padding-top: 20px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: inline-block;
    margin-left: 15px;
  }

  .arrow-up {
    border-bottom: 10px solid rgb(3, 182, 253);
  }

  .arrow-down {
    border-top: 10px solid rgb(3, 182, 253);
    margin-left: 25px;

}

.gallery {
    display: flex; 
    justify-content: center;
    margin-top: -200px;
    margin-bottom: 100px;
    margin-right: 500px;
}

.gallery-photo{
    margin-left: 80px;

}

