.cart_center
{
    margin:auto;
    text-align: center;
    padding: 30px;
}

table,th,td
{
    border:2px solid grey;

}

.th_deg
{
    font-size: 20px;
    padding: 10px;
}

.img_deg
{
    width: 200px;
    height: 200px;
    margin-left:10px;
    margin-right: 50px;
}

.total_deg
{
    font-size: 20px;
    padding:40px;
}


.td_deg
{
    padding: 20px;
}



.add_qty,
.reduce_qty {
    font-size: 14px;
    padding: 4px 8px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.qty {
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 1px;
}


.content-wrapper {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-check
{
    margin-left: -50px;
}

.label-check
{
    margin-left: -70px;
    margin-bottom: 15px;
}


.div-form
{
    max-width: 1000px;
    margin: 100px auto;
}

.h2_font
{
    font-size: 35px;
    padding-bottom: 40px;
}

.div_center
{
    text-align: center;
    padding-top : 40px;
}

th
{
    height: 50px;
    width: 50px;
}

td
{
    width: 150px;
}

.table_address
{
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse
}

