.cart_center
{
    margin:auto;
    text-align: center;
    padding: 30px;
}

table,th,td
{
    border:2px solid grey;

}

.th_deg
{
    font-size: 20px;
    padding: 10px;
}

.img_deg
{
    width: 200px;
    height: 200px;
    margin-left:10px;
    margin-right: 50px;
}

.total_deg
{
    font-size: 20px;
    padding:40px;
}


.td_deg
{
    padding: 20px;
}



.add_qty,
.reduce_qty {
    font-size: 14px;
    padding: 4px 8px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.qty {
    width: 50px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 1px;
}


.content-wrapper {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-check
{
    margin-left: -50px;
}

.label-check
{
    margin-left: -70px;
    margin-bottom: 15px;
}


.div-form
{
    max-width: 1000px;
    margin: 100px auto;
}

.h2_font
{
    font-size: 35px;
    padding-bottom: 40px;
}

.div_center
{
    text-align: center;
}

th
{
    height: 50px;
    width: 50px;
}

td
{
    width: 150px;
}

.table_address
{
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    border: 3px solid white;
    border-collapse:collapse;
    margin-bottom: 100px;
}

.proceed
{
    text-align: center;
    padding-top : 40px;
    margin-bottom: 150px;
}

.div_empty_center
{
    margin-top: 200px; 
    font-size: 36px;
    text-align: center;
}

.promptpay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
 }

 .promptpay-qrcode {
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
 }

 .promptpay-qrcode img {
    width: 100%;
    height: 100%;
    object-fit: contain;
 }

 .promptpay-title {
    font-size: 30px;
    margin-top: 20px;
    padding-top: 20px;
 }

 .promptpay-name {
    font-size: 22px;
    margin-top: 10px;
 }

 .total {
    font-size: 20px;
    margin-top: 10px;
 }
 
 .thai-qr
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    background-color: white;
}

.divider-container {
    display: flex;
    justify-content: center;
    margin: 90px 20px;
 }
 
 .divider {
    width: 50%;
    height: 2px;
    background-color: #ccc;
 }

 .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
 }
 
 .about-member {
    font-size: 22px;
    text-align: center;
 }
 
 .about-member h2 {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .label-phone {
    font-size: 16px;
    margin-right: 10px;
 }
 
 .input-phone {
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
 }
 
 .form-slip {
    margin-top: 20px;
    margin-bottom: 90px;
 }
 
.table_address td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px; 
  }

  
  .table_address td {
    background-color: #fff;
    border: 1px solid #ccc;
  }
  
  .table_address th {
    height: 60px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    font-weight: bold;
  }
  
  .table_address th {
    color: #333;
  }
  
  .table_address {
    margin: auto;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-bottom: 100px;
  }
  
  .table_address .pagination {
    margin-top: 20px;
  }
  
  select[name="address"] {
    font-size: 18px; /* Adjust the font size as needed */
    padding: 8px; /* Add some padding to improve appearance */
    width: 100%; /* Set the width to occupy the available space */
    max-width: 400px; /* Limit the maximum width to prevent excessive stretching */
 }

 select[name="address"] option {
    font-size: 16px; /* Adjust the font size for the options */
 }

 .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 200px;
}

.div-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    padding: 20px;
    margin-top: 70px;
}